<%= form_with(model: retro_board) do |form| %>
  <% if retro_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retro_board.errors.count, "error") %> prohibited this retro_board from being saved:</h2>

      <ul>
        <% retro_board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= form_for([@retro_board, @retro_board.retro_items.build]) do |f| %>
 <%= f.text_field :content, placeholder: "New Retro" %>
 <%= f.submit %>
<% end %>
