<!---
<p><%= retro_item.content %></p>
<%= link_to "Delete", retro_board_retro_item_path(@retro_board, retro_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Mark as Complete", complete_retro_board_path(@retro_board, retro_item.id), method: :patch %>
-->
<div class="row clearfix">
 <% if retro_item.completed? %>
  <div class="complete">
   <%= link_to complete_retro_board_path(@retro_board, retro_item.id), method: :patch do %>
    <i style="opacity: 0.4;" class="fa fa-check"></i>
   <% end %>
  </div>
  <div class="retro_item">
   <p style="opacity: 0.4;"><strike><%= retro_item.content %></strike></p>
  </div>
  <div class="trash">
   <%= link_to retro_board_retro_item_path(@retro_board, retro_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i>
   <% end %>
  </div>
 <% else %>
  <div class="complete">
   <%= link_to complete_retro_board_path(@retro_board, retro_item.id), method: :patch do %>
    <i class="fa fa-circle-thin"></i>
   <% end %>
  </div>
  <div class="retro_item">
   <p><%= retro_item.content %></p>
  </div>
  <div class="trash">
   <%= link_to retro_board_retro_item_path(@retro_board, retro_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i>
   <% end %>
  </div>
 <% end %>
</div>
